openapi: 3.0.0
info:
  description: This is api docs for project-backend
  version: 1.0.0
  title: Project-Backend
  termsOfService: https://www.loadover.me/terms/
  contact:
    email: help@loadover.me
tags:
  - name: account
    description: User Account Management API
paths:
  /auth/emailCheck:
    post:
      tags:
        - account
      summary: Email Duplication Check
      description: api node for check email duplication
      operationId: emailCheck
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  description: email of user account
                  type: string
                  format: email
              required:
                - email
      responses:
        '200':
          description: provided email can be used.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/apiResult'
        '409':
          description: email client provided duplicated.
        '412':
          $ref: '#/components/responses/FormatError'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultModel'
  /auth/register:
    post:
      tags:
        - account
      summary: User Register
      description: api node for generating user account
      operationId: createUser
      security:
        - BasicAuth: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  description: email of user account
                  type: string
                  format: email
                password:
                  description: password of user account
                  type: string
                  format: password
                phone:
                  description: telnumber of user account
                  type: string
                  format: phone
                name:
                  description: name of user account
                  type: string
              required:
                - name
                - email
                - password
                - phone
      responses:
        '200':
          description: account generated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiTokenResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/apiTokenResult'
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '409':
          description: email client provided duplicated.
        '412':
          $ref: '#/components/responses/FormatError'
        '424':
          $ref: '#/components/responses/EmailFailed'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
            $ref: '#/components/responses/DefaultModel'
  /auth/login:
    post:
      tags:
        - account
      summary: User Login
      description: api node for signing in user account
      operationId: loginUser
      security:
        - BasicAuth: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  description: email of user account
                  type: string
                  format: email
                password:
                  description: password of user account
                  type: string
                  format: password
              required:
                - email
                - password
      responses:
        '200':
          description: access & refresh token has been generated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiTokenResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/apiTokenResult'
        '403':
          $ref: '#/components/responses/NotAuthorized'
        "409":
          description: no accounts were found that match the information client entered.
        '412':
          $ref: '#/components/responses/FormatError'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultModel'
servers:
  - url: https://api.loadover.me/
    description: Release Server
  - url: https://www.api.loadover.me/
    description: Release Backup Server
  - url: http://localhost:5000/
    description: Development Server
components:
  responses:
    NotAuthorized:
      description: >
        Request denied because you are not authorized.
        Please send request with authorization header.
    LoginDenied:
      description: user action denied because account closed.
    FormatError:
      description: data client provided doesn't satisfy format.
    EmailFailed:
      description: >
        account generated but verification email wasn't sent.
        Please resend verification email in application.
    ServerError:
      description: api server connection is unstable (cause of network status)
    DefaultModel:
      description: default response model
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/apiResult'
        application/xml:
          schema:
            $ref: '#/components/schemas/apiResult'
  securitySchemes:
    JWTAuth:
      type: apiKey
      name: authorization
      in: header
    BasicAuth:
      type: http
      scheme: basic
  schemas:
    apiResult:
      type: object
      properties:
        statusCode:
          type: number
        bodymsg:
          type: string
        output:
          nullable: true
          type: object
        error:
          nullable: true
          type: string
    apiTokenResult:
      type: object
      properties:
        statusCode:
          type: number
        bodymsg:
          type: string
        output:
          nullable: true
          type: object
          properties:
            token:
              type: object
              properties:
                access:
                  type: string
                refresh:
                  type: string
        error:
          nullable: true
          type: string
